* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #f4f6f8;
	height: 100%;
}

a {
	text-decoration: none;
}

#root {
	height: 100%;
}

.navbar-brand {
	font-size: 22px;
	line-height: 1;
	text-transform: uppercase;
	display: block;
	color: #fff;
    text-align: center;
    text-decoration: none;
	font-family: "Josefin Sans", Arial, sans-serif;
}

.navbar-brand small {
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	text-align: center;
	letter-spacing: 5px;
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}