.ftco-cart button i {
	color: #c49b63;
}

.ftco-cart .quantity-left-minus {
	background: transparent;
	padding: 16px 20px;
}

.ftco-cart .quantity-right-plus {
	background: transparent;
	padding: 16px 20px;
}

.ftco-cart button,
.ftco-cart .form-control {
	height: 54px !important;
	text-align: center;
	bordeR: 1px solid rgba(255, 255, 255, 0.1) !important;
	color: #c49b63 !important;
	padding: 0;
}

.ftco-cart .form-group {
	position: relative;
}

.ftco-cart .form-group .form-control {
	padding-right: 40px;
}

.ftco-cart .form-group .icon {
	position: absolute;
	top: 50%;
	right: 20px;
	font-size: 14px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #c49b63;
}

.ftco-cart .form-group .icon span {
	color: #c49b63;
}

@media (max-width: 767.98px) {
	.ftco-cart .form-group .icon {
		right: 10px;
	}
}

.ftco-cart .form-group .select-wrap {
	position: relative;
}

.ftco-cart .form-group .select-wrap select {
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.cart-list {
	overflow-x: auto;
}

.cart-wrap .btn-primary {
	display: block;
	width: 100%;
}

.cart-total {
	width: 100%;
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 20px;
}

.cart-total h3 {
	font-size: 20px;
	text-transform: uppercase;
}

.cart-total p {
	width: 100%;
	display: block;
}

.cart-total p span {
	display: block;
	width: 50%;
}

.cart-total p.total-price span {
	text-transform: uppercase;
}

.cart-total p.total-price span:last-child {
	color: #c49b63;
}

.cart-total hr {
	background: rgba(255, 255, 255, 0.1);
}

.cart-detail {
	width: 100%;
	display: block;
}

.cart-detail.cart-total {
	border: none;
}

.cart-detail .btn-primary {
	display: block;
	width: 100%;
}

.table {
	min-width: 1000px !important;
	width: 100%;
	text-align: center;
	color: gray;
}

.table th {
	font-weight: 500;
}

.table .thead-primary {
	background: #c49b63;
}

.table .thead-primary tr th {
	padding: 20px 10px;
	color: #fff !important;
	border: 1px solid transparent !important;
}

.table tbody tr td {
	text-align: center !important;
	vertical-align: middle;
	padding: 40px 10px;
	border: 1px solid transparent !important;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.table tbody tr td.product-remove > i {
	bordeR: 1px solid rgba(255, 255, 255, 0.1);
	padding: 5px 10px;
	color: #fff;
}

.table tbody tr td.product-remove > i:hover {
	background: #c49b63;
	color: #000;
}

.table tbody tr td.product-remove > i:hover i {
	color: #000;
}

.table tbody tr td.quantity {
	width: 20%;
}

.table tbody tr td.image-prod .img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.table tbody tr td.product-name {
	width: 30%;
}

.table tbody tr td.product-name h3 {
	font-size: 16px;
	text-transform: uppercase;
}

.table tbody tr td.total,
.table tbody tr td.price {
	color: #fff;
}