.ftco-services {
	color: #1d150b;
	background: #c49b63;
}

.ftco-services .heading-section h2 {
	color: black;
}

.services .icon {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	z-index: 0;
	bordeR: 1px solid #674c27;
}

.services .icon span {
	font-size: 60px;
	color: #1d150b;
	z-index: 1;
}

.services h3 {
	font-size: 18px;
	margin-bottom: 20px;
	color: black;
	text-transform: uppercase;
}

.services .media-body {
	color: #1d150b;
}

.services-wrap {
	width: 100%;
	display: block;
}

@media (max-width: 991.98px) {
	.services-wrap {
		margin-bottom: 30px;
	}
}

.services-wrap .img,
.services-wrap .text {
	width: 50%;
}

.services-wrap .img {
	display: block;
}

.services-wrap .text {
	background: rgba(0, 0, 0, 0.2);
	position: relative;
}

.services-wrap .text h3 {
	font-size: 20px;
}

.services-wrap .text .price {
	font-size: 16px;
	margin-bottom: 0;
}

.services-wrap .text .price span {
	color: #c49b63;
}